.header{
    background-color: #7C5E99;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid #000;
}

.header nav{
   text-align: right;
}

a{
    display: inline-flex;
    text-decoration: none;
    color: white;
    font-size: 20px;
    align-items: center;
}
a::before{
    content:"";
    width: 10px;
    height: 10px;
    margin-right:10px;
    background-color: #F25A70;
}
a:hover{
    color: #ffdf51;
}


