.parte01{
    background-image: url(../assets/img/photo01.png);
    background-repeat: no-repeat;
    height:797px;
    border-bottom: 10px solid black;
}
.parte-div-01{
    background-image: url(../assets/img/photo.png);
    background-repeat: no-repeat;
    border-right: 5px solid black;
    width: 955px;
    height:797px;
    
}
.parte-div-02{
    transform: translateY(116px);
    
}
.parte-div-texto{
    display: inline-grid;
    align-items: center;
    background-color: #3A4042;
    box-shadow: 10px 10px 0 black;
    height: 184px;
    padding: 0 40px 0 40px;
    box-sizing: border-box;
    text-align: center;     
    align-content: center;
    margin-left: 91px;
}
.parte-div-01 div h1{
    font-size: 40px;
    color: #F25A70;
    text-shadow: 5px 5px 0 black;
    font-family: 'Press Start 2P', cursive;
    padding-bottom: 28px;
}
.parte-div-01 div p{
    font-size: 30px;
    color: #fff;
    text-shadow: 5px 5px 0 black;
    font-family: 'Press Start 2P', cursive;
}
.parte-dv-button{
    display:block;
    margin-top: 38px;
    width: 100%;
    margin-left: 181px;
    
}
.parte-dv-button a{
    display:inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    color: white;
    font-size: 20px;
    margin-right: 112px;
    background-color: #F25A70;
    box-shadow:5px 5px #000;
}