header{
    background-color: #7C5E99;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid #000;
}

header nav{
   text-align: right;
}

header nav a{
    display: inline-flex;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 30px;
    align-items: center;
}
header nav a::before{
    content:"";
    width: 10px;
    height: 10px;
    margin-right:10px;
    background-color: #F25A70;
}
header nav a:hover{
    color: #ffdf51;
}
#button{
    display:inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    background-color: #F25A70;
    box-shadow:5px 5px #000;
}
#button:hover{
background-color: #993a48;
box-shadow:2px 2px #000;
}

