.section-two{
    background-color:#F25A70;
    height: 730px;
    border-bottom:10px solid #7C5E99;
    box-sizing: border-box;
    text-align: center;
}

.section-two h2{
    padding-top: 50px;
}

.section-two p{
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    display: block;
    
}
.section-two p::after{
    display: block;
    content: "";
    height: 40px;
    width: 362px;
    background-color: white;
    border: 5px solid #000;
}